.container {
  width: 100%;
  margin-top: 450px;
  position: absolute;
  height: 100vh;
  z-index: 999;
}

.container_scrolled {
  margin-top: 50px;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 999;
}

.button {
  display: grid;
  place-items: center;
  align-items: center;
  background-color: #ffd600;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  transition: all 500ms ease-in-out;
  transform: translate(50px, 50px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.button_scrolled {
  background-color: #ffd600;
  transition: all 500ms ease-in-out;
  position: absolute;
  z-index: 999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  align-items: center;
  transform: translate(90vw, 75vh);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.buttonText {
  padding: 10px 15px;
  visibility: visible;
  font-size: inherit;
  border-radius: 50px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  transition: all 500ms ease-in-out;
}

.buttonText_scrolled {
  visibility: hidden;
  font-size: 0;
}

.buttonImage {
  visibility: hidden;
  width: 0;
  height: 0;
  transition: all 500ms ease-in-out;
}

.buttonImage_scrolled {
  visibility: visible;
}
