.title {
    font-size: 10vw;
    font-family: 'Dosis';
    margin-left: 50px;
    margin-top: 50px;
}

.description {
    font-size: 2vw;
    align-self: flex-end;
    margin-right: 30px;
    margin-left: 5vw;
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Dosis';
}