.bg1 {
  background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/bg1.png');
  background-size: cover;
  width: 100vw;
  height: 200vh;
  z-index: -10;
  background-repeat: no-repeat;
  position: absolute;
}

.container {
  width: 100vw;
  height: 200vh;
}